<% include ./partials/header %>

	<div class="ui text container">
		<h1 class="ui inverted header">
			Pokédex App
		</h1>
		<h2>Where you can find the most updated list of pokémons with every bit of information!</h2>
		<a href="/pokemon/" class="ui huge button red">Get Started <i class="right arrow icon"></i></a>
	</div>

	</div>
	
<% include ./partials/footer %>